---
- name: Download OSX themes
  ansible.builtin.git:
    repo: '{{ osx_terminal_themes_repo }}'
    dest: '{{ osx_terminal_themes_directory }}'
- name: List themes
  ansible.builtin.command: defaults read com.apple.terminal "Window Settings"
  register: osx_terminal_themes_window_settings
  changed_when: false
  check_mode: false
- name: Install Desired theme
  ansible.builtin.command: 'open {{ osx_terminal_themes_directory }}/themes/{{ osx_terminal_themes_theme }}.terminal'
  changed_when: true
  when: '"name = " ~ osx_terminal_themes_theme not in osx_terminal_themes_window_settings.stdout'
- name: Set default terminal theme
  community.general.osx_defaults:
    domain: com.apple.terminal
    key: '{{ item }}'
    type: string
    value: '{{ osx_terminal_themes_theme }}'
  with_items:
    - Default Window Settings
    - Startup Window Settings
